*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.full-color {
    background-color: #dbdaff;
    }

    /* sec 1 start */
.ban{
   display: flex;
   justify-content: space-between;
   margin: 0px 150px;
   padding: 50px;
   

}
.nav_title {
    font-weight: black;
     font-size: 34px; 
     color: #4E47FF;
    
}
.signup_button { 
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border: none;
    border-radius: 8px;
    font-size: 16px ;
    cursor: pointer; 
}
.signup_button:hover {
    background-color: #2720f5;
} 
 .container { display: flex;
    justify-content: center;
}

.big_title {
    font-weight: bold;
    font-size: 65px; 
    text-align: center;
   margin: 100px auto;
    
}
.hero_header {
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 560px;
}

/*sec 1 end*/
/*sec 2 start*/
.action-section {
    display: flex;
    gap: 200px;
    justify-content: space-between; 
    margin: 0px auto;
    padding: 100px;
    max-width: 1140px;
}
.action-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    
}
.action-image {
    border-radius: 20px;
}
.action-title {
    font-weight: bold;
    font-size: 60px;

}
.action-para {
    color: rgba(0, 0, 0, 0.5) ;
    font-weight: 400px;
    font-size: 30px;
}

/*sec 2 end */

/* sec 3 start*/
  
.stats-section{
    background-color: rgba(78, 71, 255, 0.1);
    max-width: 1140px;
    height: 350px;
    margin: 150px auto;
    border-radius: 8px;


}
.stats-title {
    font-weight: bold;
    font-size: 40px;
    color: #252432;
    text-align: center;
    margin: 50px;
    padding: 50px;
    }
.items {
    display: flex;
    justify-content: space-around; 
    text-align: center;
}
.item-title {
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}

.item-des {
    font-weight: 400px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
/* sec 3 end*/

/*sec 4 start*/
.cards{ 
    display: flex;
    justify-content: space-around;
    padding: 50px;
    
} 
.card-para{ 
text-align: center;
font-weight: bold ;
font-size: 42px ;
}
.cards-info{
    border: 2px solid #8f8e8e;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0,0,0,0.5;
    padding: 25px;
}
.card-title{
    font-weight: 600px ;
    font-size: 24px;
    color: black;
    padding: 15px 0;
}
.img-card{
    border-radius: 50%;
    padding: 10px 0;
  
} 
/* sec 4 end*/


/* sec 5 start*/
.informations { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    
   
}

.lets-get{
    font-weight: bold;
    font-size: 97px;
    color: #000000;
}

.form-info {
  width: 300px;
  margin: 25px auto;
  padding: 20px;
  
  border-radius: 10px;
  
  font-family: Arial, sans-serif;
}

.form-info label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-info input,
.form-info textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
} 
/* sec 5 end*/


/* sec 6 start*/
.headtitle { 
    text-align: center;
    color: #4E47FF;
    font-weight:bolder;
    font-size: 120px;
    padding-top: 100px;
}

.logopara {
    text-align: center;
    color:#8987A1 ;
    font-weight: 300px;
    font-size: 20px;
    padding: 20px;
}

   
.link{ 
    display: flex;
    padding: 20px;
    gap: 25px;
   justify-content: center;
   list-style: none;
  }
.link li a{
    text-decoration: none;
    color: #8987A1;
  
}
/*end*/